@use "sass:color";
@use "mixins";

$font-secondary: "Space Mono", sans-serif;
$font-primary: "Roboto", sans-serif;
$color-bg: #1c1d21;
$color-fg: #eeeff7;
$color-primary: #445878;
$color-secondary: #92cdcf;
$color-tertiary: #cfa7c2;

html {
  font-family: $font-primary;
  overflow-x: hidden;
}

html,
body {
  background-color: $color-bg;
  padding: 0;
  margin: 0;
  background-image: url("../images/felicette_bg_02.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: 600px auto;
}

body {
  position: relative;
  overflow: hidden;
}

html {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/stars_bg.webp");
    background-repeat: repeat;
    background-size: 200px 200px;
    z-index: -1;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  &:not(.--rocket-moving) {
    body {
      &::before {
        animation: rotate 20s linear infinite both;
      }
    }
  }
}

body {
  background: radial-gradient(
    circle at var(--rt-mouse-x) var(--rt-mouse-y),
    rgba($color-bg, 0) 0%,
    rgba($color-bg, 0.3) 5%,
    rgba(color.mix($color-primary, $color-bg, 20%), 0.4) 7%,
    rgba(color.mix($color-secondary, $color-bg, 20%), 0.3) 9%,
    rgba($color-bg, 0.9) 14%,
    $color-bg 20%
  );

  &::before {
    content: "🚀";
    font-size: 2rem;
    padding-right: 1rem;
    padding-top: 1rem;
    display: block;
    color: $color-fg;
    left: calc(var(--mouse-x));
    top: calc(var(--mouse-y));
    rotate: calc(var(--mouse-angle) + 45deg);
    translate: -50% -50%;
    position: absolute;
    pointer-events: none;
    transition: all 0.7s 0.3s cubic-bezier(0.745, 0.035, 0, 0.995),
      rotate 0.3s 0s linear;
  }
}

.wrapper,
.deep-space {
  max-width: min(100%, 900px);
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  background: linear-gradient(
    rgba($color-bg, 0) 150px,
    rgba($color-bg, 0.8) 350px
  );
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;

  &__spacer {
    height: 2rem;
  }
  &__logo,
  &__three-js-container {
    aspect-ratio: 1/1;
    max-width: 100%;
    transform: translate(calc(50% + 1rem));
    overflow: hidden;

    canvas {
      aspect-ratio: 1/1;
      width: 100%;
    }
  }
  &__felicette-title {
    &__start,
    &__end {
      color: $color-fg;
      padding-bottom: 0.5rem;
      font-size: 2rem;
      font-family: $font-secondary;
      font-weight: normal;
      border-bottom: 0.5rem $color-secondary solid;
      margin: 0;
      word-break: break-all;
      font-weight: 700;
    }

    &__emoji {
      font-size: 0.5em;
    }
    &__start {
      margin-right: -1rem;
      grid-column-start: span 2;
      text-align: right;
      align-self: flex-end;
    }
    &__end {
      margin-left: -1rem;
    }
  }
  &__main-title {
    font-size: 1.5rem;
    color: $color-bg;
    font-family: $font-secondary;
    font-weight: normal;
    margin: 0;
    word-break: break-all;

    &__wrapper {
      background: $color-fg;
      color: $color-bg;
      grid-row-start: span 4;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 0.25rem;
      font-size: 2rem;
      margin-top: -1rem;
      line-height: 2rem;
      overflow: hidden;
      break-after: always;
    }
  }

  &__language {
    &__title {
      grid-column-start: 4;
      color: $color-fg;
    }
    &__selector {
      grid-column-start: 3;
      grid-column-end: span 2;
      color: $color-fg;
      font-size: 1.5rem;
      padding-bottom: 0.25rem;
      font-family: $font-secondary;
      font-weight: normal;
      text-align: right;
      margin-right: -1rem;

      &__item {
        display: inline-block;
        padding: 0 1rem;
        margin-right: 0.25rem;
        background: transparent;
        color: inherit;
        outline: none;
        border: none;
        font-size: inherit;
        font-family: inherit;
        text-decoration: none;

        &:active {
          color: $color-bg;
          background: $color-tertiary;
        }

        &--active {
          color: $color-secondary;
        }

        &--separator {
          opacity: 0.5;
          pointer-events: none;
          padding-left: 0.125rem;
          padding-right: 0.125rem;
        }

        &__wrapper {
          max-width: 100%;
          padding-right: 1rem;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          overflow-x: auto;
        }
      }
    }
  }

  &__bottom-separator {
    grid-column-start: span 4;
    margin-left: -1rem;
    margin-right: -1rem;
    background: $color-fg;
    height: 0.25rem;
    margin-top: -1rem;
  }
}

.main {
  color: $color-fg;
  &__article {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
    min-height: 575px;
    align-content: center;
    &::before {
      position: absolute;
      left: -1rem;
      bottom: -1rem;
      content: "";
      height: 100%;
      width: 100%;
      background-image: url("../images/felicette_bg_03.png");
      background-position: left top;
      background-size: 307px 575px;
      background-repeat: no-repeat;
      z-index: -1;
    }
    &__number,
    &__title {
      align-self: baseline;
    }

    &__emojis,
    &__number {
      text-align: right;
    }

    &__number {
      color: $color-secondary;
      font-size: 4rem;
      font-family: $font-secondary;
      font-weight: 700;
    }

    &__lead-text,
    &__title {
      grid-column-end: span 3;
    }

    &__lead-text,
    &__emojis {
      font-size: 1rem;
      align-self: baseline;
      line-height: 1.2rem;
    }

    &__title {
      font-size: 2rem;
      font-family: $font-secondary;
      font-weight: 700;
    }

    &__video-preview {
      grid-column-end: span 4;
      display: grid;
      grid-template-columns: subgrid;
      row-gap: 1rem;
      column-gap: 1rem;

      @include mixins.smallerscreens {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-items: flex-end;
        align-content: flex-end;
        justify-content: center;
        flex-direction: column;

        &__item {
          video {
            max-height: 50dvh;
          }
        }
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($color-bg, 0.9);
        video {
          max-width: 100%;
        }
      }
    }

    &__sub-item {
      &__label,
      &__value {
        grid-column-end: span 2;
        padding-bottom: 1rem;
        max-width: 100%;
        overflow: hidden;
        color: inherit;
        a {
          color: inherit;
        }
      }
      &__label {
        text-align: right;
        border-bottom: 1px solid $color-tertiary;
      }
      &__value {
        font-weight: 700;
        text-overflow: ellipsis;

        &__link {
          display: block;

          &__list {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 1rem;
          }
        }
      }
    }
  }
}

.footer {
  margin-top: calc(1rem + 20vh);
  margin-bottom: -1rem;
  width: 100%;

  a {
    color: inherit;
    font-size: 0.9em;
    font-weight: bold;
  }

  &::before {
    margin-left: -1rem;
    display: block;
    content: "";
    width: calc(100% + 2rem);
    height: 20vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      $color-secondary,
      $color-primary
    );
  }

  &::after {
    margin-left: -1rem;
    display: block;
    content: "";
    width: calc(100% + 2rem);
    height: 50px;
    background: linear-gradient($color-primary, $color-tertiary);
    @media screen and (min-width: 600px) {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  &__main {
    background: $color-primary;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    &__section {
      position: relative;
      &--text {
        grid-column-start: span 2;
        color: $color-fg;
        margin-top: -2rem;
        margin-bottom: -1rem;

        @media screen and (min-width: 600px) {
          grid-column-start: 2;
          grid-column-end: span 2;
        }

        strong {
          font-family: $font-secondary;
          font-weight: normal;
        }
      }

      &--img {
        grid-column-start: span 2;
        @media screen and (min-width: 600px) {
          grid-column-start: 4;
        }

        img {
          margin-top: -25vh;
          max-width: 100%;
          max-height: 70vh;
        }
      }
    }
  }
}

.deep-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(
    to right,
    rgba($color-bg, 0) 5%,
    rgba($color-bg, 0.8) 15%,
    rgba($color-bg, 0.8) 85%,
    rgba($color-bg, 0) 95%
  );
  &__title {
    font-size: 1.5rem;
    font-family: $font-secondary;
    font-weight: 700;
  }

  &__items {
    display: flex;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
  }

  &__open-source {
    flex: 1;
  }

  &__share {
    flex: 1;
  }

  &__friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }

  h2 {
    font-size: 1.25rem;
  }

  a {
    color: $color-secondary;
  }
}
